.buttonInactive {
    offset-after: 100px;
    width: 250px;
    height: 50px;
    background-color: lightgrey !important;
}

.buttonActive {
    width: 250px;
    height: 50px;
    background-color: grey !important;
}

.svgs {
    height: 130px;
    width: 130px;
}

.root {
    flex-grow: 1;
}

.title {
    flex-grow: 1;
    display: none;
}

.search {
    position: relative;
    background-color: #f9f9f9;
    width: 100%;
}

.inputRoot {
    color: inherit;
}

.inputInput {
    width: 100%;
}

.appBar {
    background-color: white !important
}