.Background {
    background-color: #ffffff;
}

.invisibleBackground {
    background: rgb(255, 255, 255, 0.1)
}

.polaroid {
    width: 50%;
    min-width: 250px;
    max-width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.popupBackground{
    background-color: transparent;
}
